<h2>Каталог</h2>
<!-- в шаблон приходят готовые значения переменных из контроллера, а контроллер их берёт из модели -->
{% for item in catalog %}
    <div>
        <h3><a href="/product/card/?id={{ item.id }}">{{ item.name }}</a></h3>          <!-- в item будет приходить из бд ассоциативн.массив где имена полей будут совпадать с именами столбцов в бд. -->
        <img src="/image/small/{{ item.image }}" width="150"/></a><br>
        <p>Стоимость: {{ item.price }}  руб.</p>
        <button>Купить</button>
    </div>
{% endfor %}


<a href="/product/catalog/?page={{ page }}">Ещё</a>

<span>
    <p>Многие крепкие напитки придумали в Шотландии. Один из них — купажированный шотландский виски различных сортов <br>
        и цен. Он появился позже односолодового и открыл новую эру в истории спиртного. Виски популярен во многих<br>
        регионах мира за разнообразие сложных букетов, позволяющее удовлетворить любые искушенные запросы.<br>

        Производится шотландский алкоголь посредством смешивания дистиллятов, полученных из ячменного и зернового<br>
        спирта. Количество, вид и соотношение дистиллятов могут быть самыми разными, как и срок их выдержки. Это<br>
        предоставляет хорошие возможности для создания оригинальных сортов.<br>
        Каждая марка неповторима, имеет свои секреты, которые производитель тщательно оберегает. Рецептура сортов<br>
        остается неизменной на протяжении всего периода выпуска скотча. После купажирования напитки выдерживаются<br>
        несколько месяцев, чтобы сорта «поженились», т.е. образовали напиток с едиными характеристиками, а не стали<br>
        коктейлем вкусов. Смешивание компонентов с различными вкусовыми характеристиками позволяет получать купаж со<br>
        своими особенностями.<br>
        Смешанные шотландские виски разделяются на типы:<br>
        • Premium Blend. Напитки этой категории являются наиболее дорогими. В алкоголе преобладают односолодовые<br>
        дистилляты (55-60%). Выдержка спиртного — более 12 лет.<br>
        • De Luxe Blend. Алкогольная продукция предлагается по средним для виски ценам. Солодовых спиртов в нем<br>
        меньше — 35-50%, период выдержки — 6 лет.<br>
        • Standard Blend. Отличается доступными ценами, более коротким сроком выдержки. В нем содержится 20-25%<br>
        дорогих солодовых дистиллятов.<br>
        Шотландские производители предоставляют возможность купить различную продукцию — от элитных брендов до<br>
        молодых коктейльных образцов. Купажированное спиртное признается наиболее популярным видом скотча, его доля<br>
        занимает около 90% от общего объема продаж.<br>
    </p>
</span>
